@media (prefers-color-scheme: dark) {
    body {
        background-color: rgba(11, 45, 69, 0.868);
        color: rgba(231, 218, 170, 0.811);
    }
    #mainform{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 25px;
        background-color: rgba(169, 223, 233, 0.135);
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-color:rgba(179, 245, 244, 0.854);
        color:rgba(23, 3, 60, 0.89);
    }
    #mainform{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 25px;
        background-color: rgba(21, 107, 156, 0.078);
    }
}